@chart-bg-color: #0E3163;
@chart-bg-color: #0E3163;
@-webkit-keyframes flipOutYtest {
  from {
    -webkit-transform: perspective(1400px);
    transform: perspective(1400px);
  }

  40% {
    -webkit-transform: perspective(1400px) rotate3d(0, 1, 0, 60deg);
    transform: perspective(1400px) rotate3d(0, 1, 0, 60deg);
    opacity: 1;
  }

  50% {
    -webkit-transform: perspective(1400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(1400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0;
  }

  to {
    -webkit-transform: perspective(1400px) rotate3d(0, 1, 0, 180deg);
    transform: perspective(1400px) rotate3d(0, 1, 0, 180deg);
    opacity: 0;
  }
}

.flipOut{
  -webkit-animation: flipOutYtest 1s linear;
  animation: flipOutYtest 1s linear;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@-webkit-keyframes flipInYtest {
  from {
    -webkit-transform: perspective(1400px) rotate3d(0, 1, 0, -180deg);
    transform: perspective(1400px) rotate3d(0, 1, 0, -180deg);
    opacity: 0;
  }

  50% {
    -webkit-transform: perspective(1400px) rotate3d(0, 1, 0, -90deg);
    transform: perspective(1400px) rotate3d(0, 1, 0, -90deg);
    opacity: 0;
  }

  60% {
    -webkit-transform: perspective(1400px) rotate3d(0, 1, 0, -60deg);
    transform: perspective(1400px) rotate3d(0, 1, 0, -60deg);
    opacity: 1;
  }

  to {
    -webkit-transform: perspective(1400px);
    transform: perspective(1400px);
    opacity: 1;
  }
}

.flipIn{
  -webkit-animation: flipInYtest 1s linear;
  animation: flipInYtest 1s linear;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.big-box{
  width: 100%;
  height: 100%;
  background-color:#0E2B43 ;
  .flex-box{
    display: flex;
    justify-content: space-evenly;
  }
  .header_img{
    width:100%;
    height:10%;
    background-image: url(../images/terminal_title_bg.png);
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-position:center;
    text-align: center;
    line-height:.8rem;
    font-size:0.34rem;
    color:#fff;
    letter-spacing:2px;
    font-weight:bold;
    font-family: title_font2;
  }
  .content{
    width: 100%;
    height: 87%;
    .flex-box;
    .left-box{
      width: 27%;
      height:100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .left-top{
        width:100%;
        height: 38%;
        background-color: @chart-bg-color;
        .module-text{
          width: 100%;
          height: 15%;
          font-size: .23rem;
          color:#fff;
          padding: .1rem 0 0 .2rem;
          font-family: monospace;
        }
        .module-content{
          width: 100%;
          height: 85%;
          position: relative;
          .module-box-correct{
            width:100%;
            height:95%;
            .module-top{
              width: 100%;
              height: 50%;
              display: flex;
              justify-content: space-around;
              >div{
                width:33%;
                height: 100%;
              }
            }
            .module-bottom{
              width: 100%;
              height: 50%;
              display: flex;
              justify-content: space-around;
              div{
                width:33%;
                height: 100%;
              }
            }
          }
          .module-box-opposite{
            .module-box-correct;
            position:absolute;
            top:0 ;
            left:0 ;
            opacity:0;
          }
        }

      }
      .left-middle{
        width:100%;
        height: 29%;
        background-color: @chart-bg-color;
        .carousel1{
          width:100%;
          height:100%;
          position: relative;
          .carousel-chart1{
            width:100%;
            height: 100%;
          }
          .carousel-chart2{
            width:100%;
            height: 100%;
            position: absolute;
            top: 0;
            left:0;
            opacity: 0;
          }
        }
      }
      .left-bottom{
        width:100%;
        height: 29%;
        background-color: @chart-bg-color;
        .carousel2{
          width:100%;
          height:100%;
          display: flex;
          justify-content: space-between;
          .carousel-chart3{
            width:100%;
            height: 100%;
          }
          .carousel-chart4{
            width:100%;
            height: 100%;
          }

        }
      }
    }
    .center-box{
      width:40%;
      height:100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: @chart-bg-color;
      .center-top{
        width:100%;
        height:20%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        .text{
          font-size: .25rem;
          color: #fff;
          font-family: title_font2;
        }
        .real-time-data{
          font-size: .70rem;
          color:#08DFDF;
          letter-spacing: .2rem;
          font-weight:bold;
          font-family: main_number_font;
        }
      }
      .center-middle{
        width:100%;
        height:67%;
      }
      .center-bottom{
        width:100%;
        height:15%;
        //border:1px solid red;
        font-size: .20rem;
        color:#fff;
        .bg-image{
          width:80%;
          height:85%;
          background-image: url("../images/terminal_bg.png");
          background-repeat: no-repeat;
          background-size:100% 100%;
          background-position:center;
          margin: 0 auto;
          .new-data{
            //border:1px solid #1A62ED;
            width:96%;
            height:94%;
            //border-radius: .15rem;
            //background-color: #112C5F;
            //box-shadow: #112C5F 5px 5px 10px;
            //background-image: url("../images/terminal_bg.png");
            //background-repeat: no-repeat;
            //background-size:100% 100%;
            //background-position:center;
            margin:0 auto;
            padding: .1rem .2rem  ;
            overflow-y:hidden;
            li{
              font-size: .18rem;
              display: none;
            }
          }
        }
        //.new-text{
        //  width:75%;
        //  height:15%;
        //  margin:0 auto;
        //}

      }
    }
    .right-box{
      width:27%;
      height:100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .right-top{
        width:100%;
        height:24%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: @chart-bg-color;
        .left{
          width:30%;
          height:60%;
          background-image: url("../images/border_new.png");
          background-repeat:no-repeat;
          background-size:100% 100%;
          -moz-background-size:100% 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color:#fff;
          div:nth-child(1){
            font-size: .22rem;
            margin-bottom: .08rem;
          }
          .num-text{
            color:#08DFDF;
            font-size: .3rem;
            font-weight: bold;
            font-family: main_number_font;
          }
        }
        .middle{
          .left
        }
        .right{
          .left
        }
      }
      .right-middle{
        width:100%;
        height:36%;
        background-color: @chart-bg-color;
      }
      .right-bottom{
        width:100%;
        height:36%;
        background-color: @chart-bg-color;
      }
    }
  }
}